.container {
  padding: 12px;
}

.signUpBtn {
  width: 45%;
  height: 100%;
  padding: 8px;
  border-radius: 50px;
  background-color: #5d50c6;
  border: 1px solid #5d50c6;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn {
  width: 45%;
  height: 100%;
  padding: 8px;
  border-radius: 50px;
  background-color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #5d50c6;
  color: #ffffff;
}

.signUpBtn:hover {
  background-color: #ffffff;
  color: #5d50c6;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeInAnimation {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes scaleButton {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.scaleButtonAnimation {
  animation: scaleButton 1s ease-in-out forwards;
}

/* Media query for tablets devices */
@media (max-width: 991px) {
  .container {
    padding: 8px;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col-lg-2,
  .col-md-3,
  .col-sm-4,
  .col-6,
  .col-lg-6,
  .col-md-5,
  .col-sm-4,
  .col-6,
  .col-lg-4,
  .col-md-4,
  .col-sm-4,
  .col-12 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .btn,
  .signUpBtn {
    width: 48%;
  }

  .d-flex {
    display: flex;
    align-items: center;
  }

  .justify-content-between {
    justify-content: space-between !important;
  }

  .mt-2 {
    margin-top: 10px !important;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar-links a {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }
}

/* Media query for mobile devices */
@media (max-width: 576px) {
  .container {
    padding: 5px;
  }

  .btn {
    font-size: 0.9rem;
    padding: 6px;
    width: 80%;
    margin-bottom: 10px;
  }

  .signUpBtn {
    font-size: 0.9rem;
    padding: 6px;
    width: 80%;
  }

  .d-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .justify-content-between {
    justify-content: center !important;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar-links a {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }
}

.d-flex .btn,
.d-flex .signUpBtn {
  margin-left: 10px;
}

.d-flex .btn:first-child,
.d-flex .signUpBtn:first-child {
  margin-left: 0;
}

@media (min-width: 992px) {
  .btn,
  .signUpBtn {
    width: auto;
    margin-left: 10px;
  }

  .d-flex .btn:first-child,
  .d-flex .signUpBtn:first-child {
    margin-left: 0;
  }
}
