* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.container-fluid,
.row,
.col-lg-2,
.col-lg-6,
.col-lg-4 {
  max-width: 100%;
}
/* for font
-apple-system, BlinkMacSystemFont: For macOS and iOS.
Segoe UI: For Windows.
Roboto: For Android.
Helvetica Neue, Arial: Common fallback fonts.
Noto Sans: For better internationalization support.
Emoji fonts: To ensure emojis display correctly across different platforms. */

.footerItems {
  color: #191825;
  font-size: 18px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  align-self: normal;
}

.pinkHeader {
  color: #f85e9f;
  font-size: 23px;
  font-weight: 700;
}

.watchBtn {
  width: 34%;
  height: 10%;
  padding: 8px;
  border-radius: 60px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  color: #222831;
  font-size: 1rem;
  font-weight: 600;
}

@media (max-width: 320px) {
  .container-fluid {
    padding: 0 15px;
  }

  .row {
    flex-wrap: wrap;
  }

  .col-lg-2,
  .col-lg-6,
  .col-lg-4 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .btn {
    width: 100%;
  }
}

/* .newsletter-container {
  position: relative;
  height: 80vh;
  overflow-x: hidden;
} */
